body {
    background: black;
    color: #fff;
    font-size: 0.7rem;
}



.form {
    display: flex;
    justify-content: center;
}

.scroll-header{
    display:flex;
    justify-content: center;
}

#welcome-heading{
    display:flex;
    justify-content:center;
}

#heading__after{
    display:flex;
    justify-content: center;
}

#search_input{
    width: 50%;
}
.results {
    display:flex;
    flex-direction: column;
}

.movie-title{
    display:flex;
    justify-content: center;
}

.posters {
    margin-left: 3rem;
    width: 80%;
}





















@media screen and (min-width: 500px) {
   .results {
    display:flex;
    flex-direction: row;
    overflow: scroll;
   }

   .posters{
       width: 200px;
   }

   .posters:hover{
    transform: scale(1.1);
}

 }

 