body {
    background: black;
    color: #fff;
}


.form {
    display: flex;
    justify-content: center;
}

#welcome-heading{
    display:flex;
    justify-content:center;
}

#heading__after{
    display:flex;
    justify-content: center;
}

#search_input{
    width: 50%;
}
.results {
    display:flex;
    flex-direction: column;
    overflow: scroll;
}

.posters {
    margin: 1em;
}




















@media screen and (min-width: 500px) {
   .results {
    display:flex;
    flex-direction: row;
   }
    }

    .posters:hover{
        transform: scale(1.1);
    }
